//$background: #ECF8F8;
$black_0: #FFFFFF;
$black_20: #F3F3F3;
$black_40: #E6E6E6;
$black_60: #B1B1B1;
$black_80: #7C7C7C;
$black_100: #2B303A;
$accent2: #F79256;
$accent2: #F79256;
$accent2: #F79256;
$accent2: #F79256;